

#home {

	header {
	padding : 5% 0;
	
		.logo {
			max-width: 800px;
		}
		
		.baseline {
			display : inline-block;
			font-size : 1.6em;
			border-bottom : 2px solid var(--bs-yellow);
			margin : 1em 0;
		}
	}
	
}



