// Page

.section-title {
	display : inline-block;
	text-transform : uppercase;
	font-weight : bold;
	margin : 1em auto;
	font-size: 2.4em;
	
	&:after {
		content : "";
		display: block;
		height: 2px;
		width : 80%;
		margin : 0 auto;
		background-color : var(--bs-yellow);
	}
}

// Slider Style
.owl-carousel {
	.owl-item {
		position : relative;
		margin-bottom: 1em;
	}
	.img-desc {
		position : absolute;
		bottom : -1em;
		left : 1em;
		right : 1em;
		padding : 0.5em;
		text-transform: uppercase;
		background-color : $darkblue;
		color : var(--bs-yellow);
		font-weight: bold;
	}
	.owl-nav {
		font-size: 4em;
	}
	.owl-prev {
		position: absolute;
		top: 0;
		left: -1em;
		bottom: 0;
	}
	.owl-next {
		position: absolute;
		top: 0;
		right: -1em;
		bottom: 0;
	}
	.owl-nav .owl-prev.disabled,
	.owl-nav .owl-next.disabled, {
		color: $gray-600;
	}
}

// Footer

footer {
	color : $white;
}